{% if matched_users %}
  <ul class="users-list">
  {% for user in matched_users %}
    <input class="user_id_{{ user }}" type="hidden" value="{{ user.id }}">
    <li class="user" value="{{ user }}">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="{{ user }}">
            <label class="form-check-label" id="user-{{ user }}" for="{{ user }}">
                <img class="rounded-ciricle" src="{{ user.profile.image.url }}" width="30" height="30"> {{ user }}
            </label>
        </div>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p style="color: red;">No users found.</p>
{% endif %}