{% extends "forum/base.html" %}

{% block content %}
    <div class="ajaxify">
        {% if request.user.is_authenticated %}
            <div class="create-post">
                <img class="rounded-circle" src="{{ user.profile.image.url }}" width="40" height="40">
                <a class="home-create-post" href="{% url 'home-post' %}"><input type="text" placeholder="Create Post"></a>
            </div>
        {% endif %}
        <div class="category">
            <a href="{% url 'forum-home' %}"><button class="new-button"><img src="/media/new.svg" width="20" height="20" style="margin-bottom: 3px; margin-right: 2px;">New</button></a>
            <a href="{% url 'home-trending-posts' %}"><button class="trending-button-selected"><img src="/media/trending.svg" width="20" height="20" style="margin-bottom: 3px;">Trending</button></a>
            <a href="{% url 'home-top-posts' %}"><button class="top-button"><img src="/media/self-growth.svg" width="20" height="20" style="margin-right: 2px;">Top</button></a>
        </div> 
        <div class="infinite-container">
        {% for post in posts %}
            <div class="infinite-item">
            <article class="media content-section">
                <img class="rounded-circle article-img" id="user-pic-{{ post.author.username }}" src="{{ post.author.profile.image.url }}">
                    <div class="media-body">
                        <div class="article-metadata" id="article-metadata">
                            {% if post.author == request.user %}
                                <a class="logged-in mr-2" id="personal-profile" href="{% url 'profile' %}">{{ post.author }}</a>
                            {% else %}
                                <a class="different-user mr-2" id="user-profile" href="{% url 'user-posts' post.author.username %}" value="{{ post.author.username }}">{{ post.author }}</a>
                            {% endif %}
                            <small class="text-muted">{{ post.date_posted|date:'F d' }}</small>
                            <a href="{% url 'community-detail-new' post.community.name %}" class="community-detail-new"><small class="text-muted" style="float: right; margin-left: 4px;">{{ post.community }}</small><img src="{{ post.community.thumbnail.url }}" width="20" height="20" style="float: right;"></a>
                        </div>
                        <h2><a class="article-title" href="{% url 'post-detail' post.id %}" id="post-details">{{ post.title }}</a></h2>
                        <p class="article-content">{{ post.content|urlize }}</p>
                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="" class="img-fluid">
                        {% else %}
                        {% endif %}
                        <div class="total-comments-likes{{ post.id }}" name="{{ post.id }}" style="margin-top: 8px;">
                            {% include 'forum/messages.html' %}
                            {% include 'forum/like_section.html' %}
                        </div>
                    </div>
            </article>
            </div>
        {% endfor %}
        </div>

        {% if posts.has_next %}
            <a class="infinite-more-link" href="?page={{ posts.next_page_number }}"></a>
        {% endif %}

    </div>
{% endblock content %}

{% block sidecontent %}
    <div class="right-side">
        {% include 'forum/main_community_list.html' %}
    </div>
    <!-- <div>
        <button type="button" class="minimized-chat"><img src="/media/comment.svg" width="50" height="50"></button>
    </div>
    <div class="chat-popup" style="position: fixed; bottom: 0; right: 20px; width: 650px; height: 400px; border-radius: 10px; display: none;">
        {% include 'chat/index.html' %}
    </div> -->
{% endblock sidecontent %}